/*-----------------------------------------------------------------------------------*/
/* Footer
/*-----------------------------------------------------------------------------------*/

.footer {
	background: $gray-light;
	padding-top: ($spacer);
	padding-bottom: ($spacer);
	position: relative;
	width: 100%;
	z-index: 1;

	.h3 {
		margin-top: ($spacer * 2);
	}
}

body.page-id-15 {
	.footer {
		background: transparent;
	}
}

.footer-content {
	@media (min-width: $large-min) {
		display: flex;
			flex-flow: row nowrap;
			align-items: flex-start;
			justify-content: space-between;
	}
}

.footer-contact {
	@media (max-width: $medium-max)  {
		flex: 1 1 60%;
	}

	@media (min-width: $large-min) {
		flex: 1 1 55%;
	}

	@media (min-width: $xlarge-min) {
		display: flex;
			flex-flow: row wrap;
	}

	.icon-email,
	.icon-phone,
	.icon-location {
		display: inline-block;
		fill: $orange;
		margin-right: ($spacer / 3);
		vertical-align: middle;
		width: auto;
	}
}

.footer-email,
.footer-phone {
	font-size: $font-size-medium;

	.icon {
		height: 25px;
	}
}

.footer-email {
	@media (max-width: $large-max) {
		margin-bottom: ($spacer);
	}

	@media (min-width: $medium-min) and (max-width: $large-max) {
		margin-right: ($spacer);
	}

	@media (min-width: $xlarge-min) {
		margin-right: ($spacer * 1.5);
	}
}

.footer-phone {
	.icon {
		stroke: $orange;
	}
}

.footer-locations-wrapper {
	@media (max-width: $large-max) {
		margin-top: ($spacer);
		margin-bottom: ($spacer);
	}

	@media (min-width: $xlarge-min) {
		display: flex;
			flex-flow: row nowrap;
		flex-basis: 100%;
		margin-top: ($spacer * 2);
		margin-bottom: ($spacer * 2);
	}
}

.footer-locations {
	font-size: $font-size-small;

	@media (min-width: $large-min) {
		display: flex;
			flex-flow: row nowrap;
	}
}

.footer-location {
	.icon-location {
		float: left;
		height: 30px;
		margin: 5px ($spacer - 8px) 0 5px;
	}

	a {
		color: $gray-dark;
		font-weight: $default-font-weight !important;

		&:hover {
			color: $orange;
		}
	}

	> div {
		overflow: hidden;
	}

	&:nth-of-type(1) {
		@media (min-width: $medium-min) and (max-width: $large-max) {
			margin-right: ($spacer);
		}

		@media (min-width: $xlarge-min) {
			margin-right: ($spacer * 2 + 5px);
		}
	}

	&:nth-of-type(2) {
		@media (min-width: $medium-min) and (max-width: $large-max) {
			margin-right: ($spacer / 2);
		}

		@media (max-width: $medium-max) {
			margin-top: ($spacer / 2);
			margin-left: 38px;
		}
	}
}

.footer-map {
	margin-bottom: ($spacer * 2);

	@media (min-width: $medium-min) and (max-width: $large-max) {
		flex: 1 1 40%;
	}

	@media (max-width: $large-max) {
		margin-top: ($spacer);
	}

	@media (min-width: $xlarge-min) {
		flex: 1 1 45%;
	}

	.footer-map-media {
		overflow: visible;
		position: relative;

		.gmpMapDetailsContainer {
			height: 0 !important;
			overflow: hidden;
			padding-bottom: 60%;
			position: relative;
			z-index:  1;
		}

		.gmp_MapPreview {
			height: 100% !important;
			position: absolute;
				top: 0;
				left: 0;
			width: 100% !important;
		}

		&:after {
			background: $orange;
			content: '';
			display: block;
			height: 50%;
			position: absolute;
				bottom: -10px;
				right: -10px;
			width: 50%;
			z-index: 0;
		}
	}
}

.footer-linkedin {
	.icon {
		fill: $gray-dark;
		height: 31px;
		width: auto;

		&:hover {
			fill: $orange;
		}
	}
}

.footer-deia {
	background: #F2F2F2;
	border-radius: 50px;
	color: #9E9E9E;
	display: inline-block;
	font-size: $font-size-xsmall;
	line-height: 1.5;
	margin-bottom: ($spacer);
	padding: ($spacer / 1.5) ($spacer) ($spacer / 1.5) ($spacer / 1.5);

	@media (min-width: $large-min) {
		position: relative;
		left: -10px;
	}

	> div {
		display: flex;
		align-items: center;
	}

	.icon {
		display: inline-block;
		fill: #BABABA;
		flex: 0 0 31px;
		height: 31px;
		margin-right: ($spacer / 2);
		width: auto;
	}
}

.footer-copyright {
	color: #9E9E9E;
	font-size: $font-size-xsmall;
}