/*-----------------------------------------------------------------------------------*/
/* Grid
/*-----------------------------------------------------------------------------------*/

body {
	overflow-x: hidden;
	
	&:before {
		background: rgb(0,163,255);
		background: radial-gradient(circle, rgba(0,163,255,1) 0%, rgba(0,163,255,0) 50%);
		background-repeat: no-repeat;
		content: '';
		height: 100vh;
		opacity: .2;
		position: absolute;
			top: 0;
			right: -50%;
		width: 100%;
		z-index: -1;
	}
}

.content {
	padding-top: ($spacer * 3);
	padding-bottom: ($spacer * 3);
	
	*:last-child {
		margin-bottom: 0;
	}
}

.wrapper {
	margin: 0 auto;
	max-width: 1120px;
	padding-left: ($spacer);
	padding-right: ($spacer);
}