/*-----------------------------------------------------------------------------------*/
/* Header
/*-----------------------------------------------------------------------------------*/

.header {
	background: $white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .03);
	font-size: 0;
	min-height: 80px;
	padding-right: $spacer;
	z-index: 2;

	@media (max-width: $medium-max) {
		position: relative;
	}

	@media (min-width: $large-min) {
		display: flex;
			align-items: center;
			justify-content: flex-end;
		position: fixed;
			top: 0;
			left: 0;
		width: 100%;
	}

	svg {
		height: 80px;
		width: 80px;

		.logo-background {
			fill: $orange;
		}

		.logo-letter {
			fill: $white;
		}
	}
}

body.home {
	.header {
		background: transparent;
		box-shadow: none;
		transition: background .3s ease;

		@media (min-width: $large-min) {
			svg {
				.logo-background {
					fill: $white;
					transition: fill .3s ease;
				}

				.logo-letter {
					fill: $orange;
					transition: fill .3s ease;
				}
			}
		}

		&.sticky {
			@media (min-width: $large-min) {
				background: $white;
				box-shadow: 0 2px 4px rgba(0, 0, 0, .03);

				svg {
					.logo-background {
						fill: $orange;
					}

					.logo-letter {
						fill: $white;
					}
				}
			}
		}
	}
}

.header-logo {
	position: absolute;
		top: 0;
		left: 0;
	z-index: 1;
}