/*-----------------------------------------------------------------------------------*/
/* Helpers
/*-----------------------------------------------------------------------------------*/

// Margins
.margin-top {
	margin-top: ($spacer) !important;
}

.margin-right {
	margin-right: ($spacer) !important;
}

.margin-bottom {
	margin-bottom: ($spacer) !important;
}

.margin-left {
	margin-left: ($spacer) !important;
}

.margin-top-2x {
	margin-top: ($spacer * 2) !important;
}

.margin-right-2x {
	margin-right: ($spacer * 2) !important;
}

.margin-bottom-2x {
	margin-bottom: ($spacer * 2) !important;
}

.margin-left-2x {
	margin-left: ($spacer * 2) !important;
}

.margin-top-3x {
	margin-top: ($spacer * 3) !important;
}

.margin-right-3x {
	margin-right: ($spacer * 3) !important;
}

.margin-bottom-3x {
	margin-bottom: ($spacer * 3) !important;
}

.margin-left-3x {
	margin-left: ($spacer * 3) !important;
}

.margin-top-4x {
	margin-top: ($spacer * 4) !important;
}

.margin-right-4x {
	margin-right: ($spacer * 4) !important;
}

.margin-bottom-4x {
	margin-bottom: ($spacer * 4) !important;
}

.margin-left-4x {
	margin-left: ($spacer * 4) !important;
}

// Padding
.padding-top {
	padding-top: ($spacer) !important;
}

.padding-right {
	padding-right: ($spacer) !important;
}

.padding-bottom {
	padding-bottom: ($spacer) !important;
}

.padding-left {
	padding-left: ($spacer) !important;
}

.padding-top-2x {
	padding-top: ($spacer * 2) !important;
}

.padding-right-2x {
	padding-right: ($spacer * 2) !important;
}

.padding-bottom-2x {
	padding-bottom: ($spacer * 2) !important;
}

.padding-left-2x {
	padding-left: ($spacer * 2) !important;
}

.padding-top-3x {
	padding-top: ($spacer * 3) !important;
}

.padding-right-3x {
	padding-right: ($spacer * 3) !important;
}

.padding-bottom-3x {
	padding-bottom: ($spacer * 3) !important;
}

.padding-left-3x {
	padding-left: ($spacer * 3) !important;
}

.padding-top-4x {
	padding-top: ($spacer * 4) !important;
}

.padding-right-4x {
	padding-right: ($spacer * 4) !important;
}

.padding-bottom-4x {
	padding-bottom: ($spacer * 4) !important;
}

.padding-left-4x {
	padding-left: ($spacer * 4) !important;
}