/*-----------------------------------------------------------------------------------*/
/* Legacy styles
/*-----------------------------------------------------------------------------------*/

img {
	height: auto;
}

.cf {
	@include clearfix;
}

.fixwidth {
	position: relative;
	margin: 0 auto;
	font-family: Helvetica, sans-serif;
	overflow: hidden;
}

.logo {
	display: block;
	width: 70px;
	height: 70px;
	float: left;
	background: url('../img/logo.png') 0 0 no-repeat;
	background-size: contain;
	margin: 20px 0 10px;
	@include hide-text;
}

.slogan {
	margin-top: 79px;
	margin-left: 15px;
	color: $graydark;
	font-size: 13px;
	text-transform: uppercase;
	float: left;
	letter-spacing: 0.2pt;
	font-weight: 400;
	word-spacing: 10px;
}

.slogan span {
	padding-left: 14px;
}

.header {
	position: relative;
	z-index: 120;
}

.main_menu {
	clear: both;
	height: 30px;
	line-height: 28px;
	background: $orange;
	text-align: right;
	margin-bottom: 4px;
	letter-spacing: 0.2pt;
}

.main_menu {
	display: block !important;
}

.main_menu li {
	display: inline-block;
	text-align: left;
	font-size: 14px;

	&:first-child {
		width: 16%;
	}

	&:nth-child(2) {
		width: 16%;
	}

	&:last-child {
		width: 12%;
	}
}

.main_menu li a {
	color: $white;
	opacity: .7;
	text-transform: uppercase;
	text-decoration: none;
}

.main_menu li a:hover {
	opacity: 1;
}

.main_menu li.current-menu-item a,
body.single-project .main_menu li#menu-item-100 a {
	font-weight: bold;
	opacity: 1;
}

body.parent-pageid-11 .main_menu li#menu-item-18 a {
	font-weight: bold;
	opacity: 1;
}

.slider_content {
	width: 100%;
	position: relative;
}

.slider_grid {
	width: 100%;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 100;
}

.hline,
.vline {
	position: absolute;
	background: $white;
	opacity: 0.4;
}

.vline {
	top: 0;
	bottom: 0;
	width: 1px;
}

.hline {
	left: 0;
	height: 1px;
	right: 0;
}

.bx-next,
.bx-prev {
	overflow: hidden;
	text-indent: -999px;
	position: absolute;
	bottom: 15px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 110;
}

body.home .bx-next,
body.home .bx-prev {
	display: none;
}

.bx-prev {
	left: 22px;
	background: url('../img/prev.png') top;
}

.bx-next {
	right: 22px;
	background: url('../img/next.png') top;
}

.footer {
	font-size: 11px;
	color: $graymedium;
	text-align: right;
	padding: 0 0 0 20px;
	line-height: 25px;
	letter-spacing: 0.2pt;
}

.page-portfolio .footer {
	margin-top: 3px;
}

body.home .footer {
	margin-top: 4px;
	border-top: 30px solid $orange;
}

.page-portfolio .footer {
	border-top: 224px solid $orange;
}

#menu_button {
	display: none;
}

.bx-wrapper {
	position: relative;
	@include clearfix;
}

.bx-wrapper img {
	max-width: 100%;
	width: 100%;
	display: block;
}

.project .bx-wrapper img {
	display: block;
	width: 100%;
}

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url('../img/bx_loader.gif') center center no-repeat $white;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

.slider {
	li {
		box-sizing: border-box;

		&:nth-child(odd) {
			border-right: 2px solid $white;
		}

		&:nth-child(even) {
			border-left: 2px solid $white;
		}
	}
}

.slider-sketchbook {
	img {
		margin: 0 auto;
		max-width: 1000px;
		width: 100%;
	}
}

.portfolio {
	position: relative;
	overflow: hidden;
}

.portfolio .item {
	height: 207px;
	position: relative;
	overflow: hidden;
	border-right: 1px solid $white;
	border-bottom: 1px solid $white;
	float: left;
	width: 207px;
}

.portfolio .item_static {
	background: $orange url('../img/Inform-to-Transform-White.png') center center no-repeat;
	background-size: contain;
}

.portfolio .item a {
	display: block;
	font-weight: normal !important;
	text-decoration: none;
}

.portfolio .item img {
	width: 100%;
}

.portfolio .item span {
	display: block;
	position: absolute;
	z-index: 100;
	right: 0;
	background: url('../img/black_a7.png');
	color: $graylight;
	padding: 10px 0;
	line-height: 15px;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
	width: 100%;
}

.contacts {
	.content {
		background: $graylightest;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 6%;

		> *:last-child {
			margin-bottom: 0;
		}
	}
}

.col1,
.col2 {
	padding-top: 30px;
	width: 35.5%;
	float: left;
}

.col1 {
	padding-left: 13%;
	padding-right: 3.5%;
}

.col3,
.col4 {
	padding-top: 30px;
	float: left;
}

.col3 {
	padding-left: 6%;
	padding-right: 1.5%;
	width: 30.5%;
}

.col4 {
	width: 40%;
}

.col5 {
	float: left;
	width: 1%;
}

.content h1 {
	font-size: 19px;
	font-weight: 700;
	line-height: 25px;
	color: $orangedark;
	padding-bottom: 5px;
}

.content blockquote {
	color: $graymedium;
	font-size: 15px;
	font-weight: normal;
}

.content blockquote p {
	margin-bottom: ($spacer / 4);
	font-style: italic;
}

.field {
	line-height: 15px;
	padding-bottom: 7px;
}

.field-label {
	color: $graymedium;
	font-weight: 600;
	display: inline;
	font-family: Helvetica LT STD Roman, sans-serif;
}

.field-label-inline .field-label {
	float: left;
}

.field-items {
	display: inline;
}

.about {
	border-bottom: 30px solid $orange;
  padding: ($spacer * 3) 0;

	&.about_subpage {
		background: $graylightest;
		border-bottom: 0;
		padding: 30px 0;

		h2 {
			color: $orange;
			font-size: 16px;
			margin: 0 0 5px 0;
			text-transform: uppercase;
		}

		ul {
			break-inside: avoid-column;
			page-break-inside: avoid;
		}
	}

	> *:last-child {
		margin-bottom: 0;
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 1170px;
		width: 100%;
	}
}

.about_pager {
	display: flex;
		align-items: flex-start;
		justify-content: space-between;

	> div {
		width: 50%;
	}
}

.about_pager_prev,
.about_pager_next {
	box-sizing: border-box;
	padding: 0 30px;

	a {
		background-repeat: no-repeat;
		background-size: auto 15px;
	}
}

.about_pager_prev {
	text-align: left;

	a {
		background-image: url('../img/prev-orange.png');
		background-position: center left;
		padding-left: 25px;
	}
}

.about_pager_next {
	text-align: right;

	a {
		background-image: url('../img/next-orange.png');
		background-position: center right;
		padding-right: 25px;
	}
}

.about_inner {
	box-sizing: border-box;
	padding-left: 15%;
	padding-right: 15%;
}

.content_header {
	position: relative;
	margin-bottom: 4px;
}

.content_header_text {
	display: table-cell;
	width: 100%;
	height: 100%;
	color: $orangedark;
}

.content_header_text strong {
	color: $bluedark;
}

.tabs_content .tab {
	display: none;
}

.tabs_content .tab.first_tab {
	display: block;
}

.tabs_navigation {
	padding: 30px 0 0 4%;
	margin-bottom: -10px;
}

.tabs_navigation a {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: $orangedark;
	text-decoration: none;
	margin-right: 30px;
}

.tabs_navigation a.active {
	color: $bluemedium;
}

.portfolio .item_16 span {
	display: none;
}

.content_header_img .field {
	padding-bottom: 0;
}

.webform-client-form .form-text,
.webform-client-form .form-textarea {
	width: 98%;
	padding: 3px 1%;
	border: 1px solid $graylight;
	font-family: Helvetica, sans-serif;
	resize: none;
}

.webform-client-form .form-text {
	margin: 0 !important;
}

.webform-client-form .form-text.error,
.webform-client-form .form-textarea.error {
	border: 1px solid $red;
}

.form-submit {
	padding: 5px 15px;
	color: $white;
	background: $orange;
	border: 0;
	margin-top: 1px;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
}

.form-item {
	position: relative;
	padding-bottom: 9px;
}

.slide_sep {
	position: absolute;
	width: 4px;
	background: $white;
	left: 50%;
	top: 0;
	bottom: 0;
	margin-left: -2px;
	z-index: 1;
}

.slide_map {
	position: absolute;
	width: 4px;
	background: $white;
	left: 100%;
	top: 0;
	bottom: 0;
	margin-left: -2px;
	z-index: 1;
}

.content blockquote p {
	padding-bottom: 0;
}

.portfolio_wrapper {
	border-bottom: 30px solid $orange;
	overflow: hidden;
}

.portfolio {
	border-bottom: 2px solid $white;
	width: 1000%;
}

.portfolio .item:nth-of-type(7),
.portfolio .item:nth-of-type(13) {
	clear: left;
}

.project .bx-wrapper {
	border-bottom: 4px solid $white;
}

.contacts_wrapper {
	margin-bottom: 4px;
	position: relative;
}

.contacts_wrapper .body {
	float: left;
	padding: 30px 4%;
}

.webform-client-form .form-textarea {
	height: 31px !important;
}

.bx-pager {
	position: absolute;
	right: 70px;
	z-index: 200;
	bottom: 20px;
}

.bx-pager-item {
	display: inline-block;
	padding-left: 12px;

	&:only-child {
		display: none !important;
	}
}

.bx-pager-item a {
	display: block;
	width: 13px;
	height: 12px;
	text-indent: -9999px;
	overflow: hidden;
	opacity: 0.5;
	background: url('../img/bull.png') top;
}

.bx-pager-item a.active,
.bx-pager-item a:hover {
	opacity: 1;
}

.slider_wrap {
	position: relative;
	overflow: hidden;
}

body.postid-98 .slider_wrap {
	border-bottom: 30px solid $graylight;
}

.project .content {
	background: $graylightest;
	min-height: 226px;
	@include clearfix;
}

.field-name-field-project-summary p {
	margin-bottom: 0;
}

.bx-prev.disabled {
	display: none !important;
}

.bx-next.disabled {
	display: none !important;
	// width: 36px;
	// height: 15px;
	// background: url('../img/slider_grid.png');
	// right: 18px;
	// bottom: 20px;
}

#bc a {
	text-decoration: none;
	color: $graymedium;
}

#bc a:hover {
	color: $orangedark;
}

#map-canvas {
	height: 415px !important;
}

.map_wrapper {
	width: 100%;
	float: none;
}

.block_content {
	color: $graymedium;
	font-size: $fontsize;
	line-height: $lineheight;

	a,
	a:hover,
	a:visited {
		color: $orangedark;
		font-weight: bold;
		text-decoration: none;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ol,
	p,
	ul {
		margin-top: 0;
		margin-bottom: ($spacer / 2);
		padding: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: $headinglineheight;
	}
}

.content_header_img {
	display: table-cell;
	vertical-align: top;
	position: relative;
	width: (100% / 3);

	&:nth-child(2) {
		&:before,
		&:after {
			background: $white;
			content: '';
			height: 100%;
			position: absolute;
				top: 0;
			width: 4px;
			z-index: 2;
		}

		&:before {
			left: -2px;
		}

		&:after {
			right: -2px;
		}
	}
}

.content_header_img_front {
	cursor: pointer;
	overflow: hidden;
	position: relative;

	img {
		display: block;
		width: 100%;
	}

	span {
		box-sizing: border-box;
		display: block;
		position: absolute;
			right: 0;
		background: url('../img/black_a7.png');
		color: $graylight;
		padding: 15px 5%;
		line-height: 15px;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		text-transform: uppercase;
		width: 100%;
		z-index: 1;
	}
}

.block_content .content_header_img_front a {
	color: $graylight;
	font-weight: normal;
}

.content_header_about_subpage {
	display: flex;
		align-items: stretch;
		justify-content: space-between;
}

.content_header_left_column_img,
.content_header_right_column_img {
	display: inline-block;

	img {
		display: block;
		height: auto;
		width: 100%;
	}
}

.content_header_left_column_img {
	position: relative;
	text-align: center;
	width: (100% / 3);

	&:before,
	&:after {
		background: $white;
		content: '';
		height: 100%;
		position: absolute;
			top: 0;
	}

	&:before {
		left: 0;
		opacity: .85;
		width: 100%;
	}

	&:after {
		right: -2px;
		width: 4px;
		z-index: 2;
	}

	h1 {
		color: $orange;
		font-size: 42px;
		font-weight: normal;
		line-height: 1.1;
		position: absolute;
			top: 50%;
			left: 0;
		text-transform: uppercase;
		transform: translate(0, -50%);
		width: 100%;
		z-index: 3;

		@media screen and (max-width: 800px) {
			font-size: 20px;
		}
	}
}

.content_header_right_column_img {
	background-size: cover;
	background-repeat: no-repeat;
	width: (100% / 3) * 2;
}

.map_wrapper {
	iframe {
		display: block;
		width: 100%;
	}
}
