/*-----------------------------------------------------------------------------------*/
/* Media queries
/*-----------------------------------------------------------------------------------*/

@media screen and (min-width: 1006px) {
	.fixwidth {
		max-width: 1244px;
		padding: 0 18px;
	}

	.content_header_text {
		line-height: 40px;
	}

	#center-headings {
		width: 860px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#project-info {
		margin-left: -60px;
	}

	.link_tab_2 span,
	.link_tab_3 span,
	.link_tab_4 span {
		margin-left: 48px;
	}

	.link_tab_1 span,
	.link_tab_2 span,
	.link_tab_3 span,
	.link_tab_4 span {
		font-size: 17px;
	}

	.section {
		margin-left: 65px;
	}

	#tot1 {
		background: url('../img/bar2.png') 125.5px center repeat-y;
	}

	#tot2 {
		background: url('../img/bar2.png') 134.5px center repeat-y;
	}

	#tot3 {
		background: url('../img/bar2.png') 125.5px center repeat-y;
	}

	#tot3 #sub h3 {
		margin-left: 30px;
	}

	#push {
		padding-left: 140px;
		margin-top: -28px;
		margin-left: 11px;
	}

	#tot2 #push {
		padding-left: 150px;
	}

	#sub h3 {
		margin-top: 6px;
		font-size: 22px;
		color: $graylightmedium;
	}

	#push ul li {
		font-size: 14px;
		color: $graymedium;
		line-height: 1.5em;
	}

	#all #tot2 {
		margin-left: 23px;
	}

	#all #tot3 {
		margin-left: 23px;
	}

	#mainsec {
		margin-left: 25px;
		width: 1154px;
	}
}

@media screen and (max-width: 1040px) {
	#mainsec {
		width: 900px;
	}

	.section {
		margin-left: 0;
	}
}

@media screen and (min-width: 768px) {
	.about_who,
	.about_why  {
		.about_inner {
			column-count: 2;
			column-gap: ($spacer * 4);
		}
	}

	.about_what  {
		.about_inner {
			column-count: 3;
			column-gap: ($spacer * 2);
		}
	}

	body.page-id-15 {
		.content {
			text-align: right;

			h2 {
				text-align: left;
			}

			div {
				display: inline-block;
				max-width: 300px;
				text-align: left;
				width: 30%;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.content_header_text {
		font-size: 16px;
		line-height: 22px;
		padding: 0 5%;
	}
}

@media screen and (max-width: 1006px) {
	.fixwidth {
		padding: 0 18px;
		width: auto;
	}

	.portfolio .item span {
		margin-top: 0 !important;
		bottom: 0;
	}

	#main_menu li {
		width: 150px;
	}

	#mainsec {
		width: 800px;
	}

	#push {
		padding-left: 6px;
		margin-left: 6px;
	}

	#push ul {
		margin-top: 10px;
	}

	#push ul li {
		background: url('../img/bar2.png') left center repeat-y;
		font-size: 14px;
		color: $graymedium;
		line-height: 1.5em;
		padding-left: 20px;
	}

	#mainsec {
		padding-bottom: 25px;
	}

	.section {
		margin-left: -20px;
		padding-bottom: 25px;
	}

	#sub h3 {
		font-size: 22px;
		color: $graylightmedium;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#map-canvas {
		height: 328px !important;
	}

	#mainsec {
		width: 100%;
		margin-left: -45px;
	}

	#push {
		width: 200px;
	}

	.portfolio .item span {
		margin-top: 0 !important;
		bottom: 0;
		font-size: 11px;
		line-height: 20px;
		padding-top: 4px;
		padding-bottom: 4px;
	}
}

@media screen and (min-width: 480px) and (max-width: 768px) and (orientation : portrait) {
	.desctop_row {
		display: none;
	}

	.page-portfolio .footer {
		border-top: 0;
	}

	.item_11 {
		clear: none;
	}

	.item_13,
	.item_16 {
		clear: left;
	}

	.page-portfolio .footer {
		border-top: 187px solid $orange;
	}

	#map-canvas {
		height: 244px !important;
	}

	#center-headings {
		width: 580px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#mainsec {
		width: 100%;
	}

	.project .content {
		min-height: 340px;
	}
}

@media screen and (max-width: 650px) {
	#main_menu li {
		width: 130px;
	}

	.portfolio .item span {
		font-size: 10px;
		line-height: 13px;
	}

	.content_header_img {
		display: block;
		padding-right: 0;
		width: auto;

		&:nth-child(1),
		&:nth-child(2) {
			border-bottom: 4px solid $white;
		}

		&:nth-child(2) {

			.content_header_img_back {
				padding-left: ($spacer);
				padding-right: ($spacer);
			}

			.content_header_img_back_inner {
				> div {

					ul {
						margin-bottom: ($spacer);
						padding: 0 !important;
						width: 50% !important;

						&:last-of-type {
							margin: 0;
							width: auto !important;
						}

						li {
							font-size: 12px;
						}
					}
				}
			}
		}
	}

	.content_header_text {
		display: block;
		font-size: 16px;
		line-height: 22px;
		padding: 26px 18px;
	}

	.tabs_navigation {
		padding: 0 18px;
		margin: 0 -18px;
	}

	.tabs_navigation a {
		display: block;
		float: left;
		margin-right: 0;
	}

	.tabs_navigation a span {
		display: block;
		line-height: 45px;
		border: 2px solid $white;
		padding-left: 18px;
	}

	.link_tab_1,
	.link_tab_3 {
		width: 40%;
	}

	.link_tab_2,
	.link_tab_4 {
		width: 60%;
	}

	a.link_tab_1 span,
	a.link_tab_2 span {
		border-bottom: 0;
	}

	a.link_tab_1 span,
	a.link_tab_3 span {
		border-right: 0;
	}

	#map-canvas {
		height: 200px !important;
	}

	.map_wrapper {
		width: 100%;
		float: none;
	}

	.project .slider_grid,
	.slide_sep {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.about,
	.content_header {
		margin: 0 -18px;
	}

	.portfolio {
		width: 100%;
	}

	.content_header_img {
		margin-left: -18px;
		margin-right: -18px;
	}

	.project {
		margin-left: -18px;
		margin-right: -18px;
	}

	.fixwidth {
		min-width: 284px;
	}

	body.home .footer {
		border-top: 10px solid $orange;
	}

	.page-portfolio .footer {
		border-top: 0;
	}

	.footer {
		border-top: 0;
		font-size: 12px;
		line-height: 30px;
		padding-right: 0;
	}

	.slider_grid {
		display: none;
	}

	.slider_content img {
		min-height: 260px;
		min-width: 531px;
	}

	.slogan {
		clear: both;
		font-size: 12px;
		margin: -21px 0 16px 68px;
	}

	#main_menu {
		display: none;
		position: absolute;
		right: 0;
		top: 61px;
		width: 140px;
		text-align: left;
		height: auto;
	}

	#main_menu.closed {
		display: none !important;
	}

	#main_menu li {
		padding: 0;
		display: block;
		border-bottom: 1px solid $orange;
	}

	#main_menu li a {
		display: block;
		font-size: 13px;
		line-height: 36px;
		padding: 0 0 0 25px;
	}

	#main_menu li:last-child {
		border: 0;
	}

	#main_menu li a:active {
		background: $orange;
	}

	#menu_button {
		width: 42px;
		height: 42px;
		position: absolute;
		display: block;
		right: 0;
		top: 20px;
		background: url('../img/menu_button.png') no-repeat top;
	}

	#menu_button.open {
		background-position: bottom;
	}

	.portfolio .item {
		overflow: hidden;
		border: 0;
		float: none;
		margin-bottom: 1px;
		width: 100% !important;
	}

	.portfolio .item_16,
	.portfolio .item_17 {
		text-align: center;
		background: $graylightest;
	}

	.portfolio .item_16 {
		display: none;
	}

	.portfolio .item span {
		margin-top: 0 !important;
		bottom: 0;
		font-size: 13px;
		line-height: 20px;
	}

	.col1,
	.col2 {
		padding: 25px 18px 10px;
		width: auto;
		float: none;
	}

	.col2 {
		padding: 0 18px 30px;
	}

	.col3,
	.col4 {
		padding: 25px 18px 10px;
		width: auto;
		float: none;
		min-height: 192px;
	}

	.col4 {
		padding: 0 18px 30px;
	}

	#main_menu li {
		width: auto;
	}

	.bx-next,
	.bx-prev {
		overflow: hidden;
		text-indent: -999px;
		position: absolute;
		bottom: 15px;
		width: 14px;
		height: 14px;
		cursor: pointer;
		z-index: 110;
	}

	body.home .bx-next,
	body.home .bx-prev {
		display: none;
	}

	.bx-prev {
		left: 22px;
		background: url('../img/prev15.png') top;
	}

	.bx-next {
		right: 22px;
		background: url('../img/next15.png') top;
	}

	.bx-pager {
		position: absolute;
		right: 70px;
		z-index: 200;
		bottom: 16px;
	}

	.bx-pager-item a {
		display: block;
		width: 9px;
		height: 8px;
		text-indent: -9999px;
		overflow: hidden;
		opacity: 0.5;
		background: url('../img/bull9.png') top;
	}

	.bx-next.disabled {
		// width: 28px;
		// height: 12px;
		// background: url('../img/slider_grid28.png');
		// right: 18px;
		// bottom: 16px;
	}

	#formside {
		background-color: $orange;
		margin-top: 166px;
	}

	#push {
		padding-left: 6px;
		margin-left: 6px;
	}

	#push ul {
		margin-top: 10px;
	}

	#push ul li {
		background: url('../img/bar2.png') left center repeat-y;
		font-size: 14px;
		color: $graymedium;
		line-height: 1.5em;
		padding-left: 20px;
	}

	#mainsec {
		padding-bottom: 25px;
	}

	.section {
		margin-left: -20px;
		padding-bottom: 25px;
	}

	#sub h3 {
		font-size: 22px;
		color: $graylightmedium;
	}
}

body.page-id-11 {
	.section {
		clear: both;
		padding: 0;
		margin: 25px 0 0 82px;
	}

	.col {
		display: block;
		float: left;
		margin: 1% 0 1% 1.6%;
	}

	.col:first-child {
		margin-left: 0;
	}

	.group:after,
	.group:before {
		content: "";
		display: table;
	}

	.group:after {
		clear: both;
	}

	.group {
		zoom: 1;
	}

	.span_3_of_3 {
		width: 100%;
	}

	.span_2_of_3 {
		width: 66.13%;
	}

	.span_1_of_3 {
		width: 32.26%;
	}

	@media only screen and (max-width: 680px) {
		.col {
			margin: 1% 0;
		}
	}

	@media only screen and (max-width: 680px) {
		.span_3_of_3 {
			width: 100%;
		}

		.span_2_of_3 {
			width: 100%;
		}

		.span_1_of_3 {
			width: 100%;
		}
	}

	#tot1,
	#tot2,
	#tot3 {
		float: left;
	}
}
