/*-----------------------------------------------------------------------------------*/
/* Menus
/*-----------------------------------------------------------------------------------*/

#menu-main-menu {
	display: flex;

	&, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		font-size: $font-size-xsmall;
		font-weight: $font-weight-bold;
		margin: 0 ($spacer);
		text-transform: uppercase;

		a {
			color: $gray-dark;

			&:hover {
				color: $orange;
			}
		}
	}
}