/*-----------------------------------------------------------------------------------*/
/* Bootstrap mixins
/* v4.4.1
/*-----------------------------------------------------------------------------------*/

// Vendor
// @import "vendor/rfs";

// Deprecate
// @import "mixins/deprecate";

// Utilities
@import "mixins/breakpoints";
// @import "mixins/hover";
// @import "mixins/image";
// @import "mixins/badge";
// @import "mixins/resize";
// @import "mixins/screen-reader";
// @import "mixins/size";
// @import "mixins/reset-text";
// @import "mixins/text-emphasis";
// @import "mixins/text-hide";
// @import "mixins/text-truncate";
// @import "mixins/visibility";

// Components
// @import "mixins/alert";
// @import "mixins/buttons";
// @import "mixins/caret";
// @import "mixins/pagination";
// @import "mixins/lists";
// @import "mixins/list-group";
// @import "mixins/nav-divider";
// @import "mixins/forms";
// @import "mixins/table-row";

// Skins
// @import "mixins/background-variant";
// @import "mixins/border-radius";
// @import "mixins/box-shadow";
// @import "mixins/gradients";
// @import "mixins/transition";

// Layout
// @import "mixins/clearfix";
@import "mixins/grid-framework";
@import "mixins/grid";
// @import "mixins/float";

@mixin clearfix {
  clear: both;
  content: '';
  display: table;
}

@mixin button {
  border-radius: 20px;
  padding: $grid-gutter-width;
  text-transform: uppercase;

  &.icon1,
  &.icon2 {
    padding-left: 25px;

    &:before {
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: 20px;
      vertical-align: middle;
      width: 20px;
    }
  }

  &.icon1 {
    &:before {
      background-image: url('../img/icon-1.png');
    }
  }

  &.icon2 {
    &:before {
      background-image: url('../img/icon-2.png');
    }
  }
}

@mixin arrow($arrowimage) {
  display: inline-block;
  padding-left: 25px;
  position: relative;

  &:before {
    background-image: $arrowimage;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 20px;
    content: '';
    position: absolute;
      top: 0;
      left: 0;
    height: 20px;
    width: 20px;
  }

  span {
    vertical-align: top;
    width: calc(100% - 25px);
  }
}
