/*-----------------------------------------------------------------------------------*/
/* Team
/*-----------------------------------------------------------------------------------*/

// Team grid
.team-grid {
	margin-top: ($spacer * 2);

	@media (min-width: $large-min) {
		display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
	}
}

// Team preview
.team-preview {
	margin-top: ($spacer * 2);

	@media (max-width: $medium-max) {
		width: 100%;
	}

	@media (min-width: $large-min) {
		max-width: calc((100% / 3) - 20px);
	}

	&:nth-child(1),
	&:nth-child(2),
	&:nth-child(3) {
		@media (min-width: $large-min) {
			margin-top: 0;
		}
	}

	&:nth-child(1) {
		@media (max-width: $medium-max) {
			margin-top: 0;
		}
	}

	.team-preview-photo {
		margin-bottom: ($spacer);
		position: relative;

		&:after {
			background: $orange;
			content: '';
			display: block;
			height: 50%;
			position: absolute;
				bottom: -10px;
				right: -10px;
			width: 50%;
			z-index: 0;
		}

		img {
			display: block;
			filter: grayscale(100%);
			height: auto;
			position: relative;
			transition: all .7s cubic-bezier(0, 1, 0.5, 1);
			width: 100%;
			z-index: 1;

			&:hover {
				filter: none;
				transform: scale(1.02);
			}
		}
	}

	a {
		color: $gray-dark;
		font-weight: $default-font-weight;
	}

	span {
		display: block;
	}

	.team-preview-title {
		color: $gray-medium;
		font-size: $font-size-small;
		line-height: $line-height-small;
		text-transform: uppercase;
	}

	.team-preview-name {
		margin-bottom: 0;
	}
}

// Team modal
.team-bio-content {
	@media (min-width: $large-min) {
		display: flex;
	}
}

.team-photo {
	img {
		display: block;
		height: auto;
		width: 100%;
	}

	@media (min-width: $large-min) {
		width: 40%;
	}
}

.team-bio {
	padding: ($spacer * 2);

	> *:last-child {
		margin-bottom: 0;
	}

	.team-preview-title,
	.team-preview-name {
		display: block;
	}

	.team-preview-title {
		color: $gray-medium;
		font-size: $font-size-small;
		line-height: $line-height-small;
		text-transform: uppercase;
	}

	.team-preview-name {
		@media (max-width: $medium-max) {
			margin-bottom: ($spacer / 2);
		}

		@media (min-width: $large-min) {
			margin-bottom: ($spacer);
		}
	}

	@media (min-width: $large-min) {
		width: 60%;
	}
}