/*-----------------------------------------------------------------------------------*/
/* Typography
/*-----------------------------------------------------------------------------------*/

html {
	scroll-behavior: smooth;
}

body {
	color: $default-font-color;
	font-family: $default-font-family;
	font-size: $default-font-size;
	font-weight: $default-font-weight;
	line-height: $default-line-height;
}

::selection {
	background: $gray-dark;
	color: $white;
}

::-moz-selection {
	background: $gray-dark;
	color: $white;
}

a {
	color: $default-link-color;
	text-decoration: none;
	transition: color 200ms ease;

	&:hover {
		color: $default-link-color-hover;
	}

	&::selection {
		background: $gray-dark;
		color: $white;
	}

	&::-moz-selection {
		background: $gray-dark;
		color: $white;
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight: $default-heading-weight;
	line-height: $default-heading-line-height;
	margin: 0 0 ($spacer) 0;
}

h1,
.h1 {
	font-size: $font-size-large;
}

h2,
.h2 {

}

h3,
.h3 {

}

h4,
.h4 {

}

h5,
.h5 {

}

h6,
.h6 {
	color: $gray-medium;
	font-size: $font-size-medium;
	text-transform: uppercase;
}

blockquote,
ol,
p,
table,
ul {
	margin: 0 0 ($spacer) 0;
}

blockquote {

}

ol,
ul {

	ol,
	ul {
		margin-top: ($spacer / 2);
		margin-bottom: 0;
	}

	li {
		margin: 0 0 ($spacer / 2) 0;
		padding: 0;
	}
}

pre {
	white-space: normal;
}

b,
strong {
	font-weight: $font-weight-bold;
}