/*-----------------------------------------------------------------------------------*/
/* Typography
/*-----------------------------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  color: $default-font-color;
  font-family: $default-font-family;
  font-size: $default-font-size;
  line-height: $default-line-height;
}

::selection {
  background: $black;
  color: $white;
}

::-moz-selection {
  background: $black;
  color: $white;
}

a {
  color: $default-link-color;
  text-decoration: none;

  &:hover {
    color: $default-link-color;
  }

  &::selection {
    background: $black;
    color: $white;
  }

  &::-moz-selection {
    background: $black;
    color: $white;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 900;
  line-height: 1.3;
  margin: 0 0 ($grid-gutter-width) 0;
}

h1,
.h1 {

}

h2,
.h2 {

}

h3,
.h3 {

}

h4,
.h4 {

}

h5,
.h5 {

}

h6,
.h6 {

}

blockquote,
ol,
p,
table,
ul {
  margin: 0 0 ($grid-gutter-width) 0;
}

blockquote {

}

ol,
ul {

  ol,
  ul {
    margin-top: ($grid-gutter-width / 2);
    margin-bottom: 0;
  }

  li {
    margin: 0 0 ($grid-gutter-width / 2) 0;
    padding: 0;
  }
}

pre {
  white-space: normal;
}
