/*-----------------------------------------------------------------------------------*/
/* Typography
/*-----------------------------------------------------------------------------------*/

body {
	color: $default-font-color;
	font-family: $default-font-family;
	font-size: $default-font-size;
	font-weight: $default-font-weight;
	line-height: $default-line-height;
}

::selection {
	background: $gray-dark;
	color: $white;
}

::-moz-selection {
	background: $gray-dark;
	color: $white;
}

a {
	color: $default-link-color;
	text-decoration: none;
	transition: color .2s ease;

	&:hover {
		color: $default-link-color-hover;
	}

	&::selection {
		background: $gray-dark;
		color: $white;
	}

	&::-moz-selection {
		background: $gray-dark;
		color: $white;
	}

	svg {
		transition: fill .2s ease;
	}
}

.content a {
	font-weight: $font-weight-bold;
}

a.link-cta {
	font-size: $font-size-small;
	text-transform: uppercase;
}

a.link-underline {
	font-weight: $font-weight-bold;
	text-shadow: 0 0 3px $white, 0 0 15px #ffbf4c;
	transition: all .3s cubic-bezier(0, 1, 0.5, 1);

	&:after {
		background: url('../img/icon-arrow-orange.svg') 0 0 no-repeat;
		content: '';
		display: inline-block;
		height: 10px;
		margin-left: ($spacer / 4);
		transition: all .3s cubic-bezier(0, 1, 0.5, 1);
		width: 10px;
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight: $default-heading-weight;
	line-height: $default-heading-line-height;
	margin: 0 0 ($spacer) 0;
}

h1,
.h1 {
	font-size: $font-size-h1;
}

h2,
.h2 {
	font-size: $font-size-h2;
}

h3,
.h3 {
	color: $gray-medium;
	font-size: $font-size-h3;
	line-height: $default-heading-line-height;
	margin-bottom: ($spacer / 3);
	text-transform: uppercase;
}

h4,
.h4 {
	font-size: $font-size-h4;
}

h5,
.h5 {
	font-size: $font-size-h5;
}

h6,
.h6 {
	font-size: $font-size-h6;
}

.heading-underline {
	&:after {
		background: $orange;
		content: '';
		display: block;
		height: 5px;
		margin-top: ($spacer);
		margin-bottom: ($spacer * 2);
		width: 57px;
	}
}

blockquote {
	margin: 0;
}

ol,
p,
table,
ul {
	margin: 0 0 ($spacer) 0;
}

ol,
ul {

	ol,
	ul {
		margin-top: ($spacer / 2);
		margin-bottom: 0;
	}

	li {
		margin: 0 0 ($spacer / 2) 0;
		padding: 0;
	}
}

pre {
	white-space: normal;
}

b,
strong {
	font-weight: $font-weight-bold;
}

.label {
	font-size: $font-size-small;
	font-weight: $font-weight-bold;
	text-transform: uppercase;
}

::marker {
	display: none;
}

summary {
	list-style: none;
}

details {
	summary {
		color: $orange;
		cursor: pointer;
		display: inline-block;
		font-size: $font-size-small;
		font-weight: $font-weight-bold;
		padding: 0 0 ($spacer / 2) 0;
		text-transform: uppercase;

		&:after {
			background: url('../img/icon-arrow-orange.svg') 0 0 no-repeat;
			content: '';
			display: inline-block;
			height: 10px;
			margin-left: ($spacer / 4);
			transition: all .3s cubic-bezier(0, 1, 0.5, 1);
			width: 10px;
		}
	}

	ul {
		margin-left: 0;
		padding-left: ($spacer);

		li {
			/* margin-left: 0; */
		}
	}

	&[open] {
		summary {
			&:after {
				transform: rotate(90deg);
			}
		}
	}
}