/*-----------------------------------------------------------------------------------*/
/* Variables
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/* Colors
/*-----------------------------------------------------------------------------------*/

$bluedark:              #0070ff;
$bluemedium:            #0082c8;
$graydark:              #252525;
$graylight:             #ebebeb;
$graylightest:          #f0f0f0;
$graymedium:            #404347;
$orange:                #ef7023;
$red:                   #f00;
$white:                 #ffffff;
