/*-----------------------------------------------------------------------------------*/
/* Variables
/*-----------------------------------------------------------------------------------*/

// Bootstrap grid
// v4.4.1
$enable-grid-classes:   true !default;
$grid-columns:          12 !default;
$grid-gutter-width:     30px !default;
$grid-row-columns:      6 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, '$container-max-widths');

// Colors
$black:                 #000;
$white:                 #fff;

$default-font-color:    $black;
$default-link-color:    $black;

// Typography
$default-font-family:   Helvetica, Arial, sans serif;
$default-font-size:     16px;
$default-line-height:   1.4;
